@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.pac-target-input {
  margin-top: 8px;
  height: 48px;
  width: 100%;
  padding: 12px 16px;
  color: $gray-0;
  font-size: 16px;
  outline: none;
  background-color: $gray-90;
  border: 1px solid transparent;

  &::placeholder {
    color: $gray-30;
  }

  &:hover {
    border: 1px solid $gray-50;
  }

  &:focus {
    border: 1px solid $gray-30;
  }

  &__error {
    border: 1px solid $system-error !important;
  }
}

.pac-container {
  background-color: $gray-80;
  font-family: $font-text;
  font-weight: $font-weight-regular;
}

.pac-item {
  color: $gray-10;
  border: 1px solid transparent;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;

  &:hover {
    background-color: $gray-50;
  }
}

.pac-item-query {
  color: $gray-0;
}

.pac-matched {
  font-weight: $font-weight-regular;
}
