@import '@styles/vars.scss';

.accountWrapper {
  padding: 0 !important;
}

[data-amplify-authenticator] [data-amplify-router] {
  overflow: hidden;
}

.amplify-heading--3 {
  text-align: center;
  padding: 20px 0 0 !important;
  background-color: $gray-100;
  color: $gray-5;
  font-size: $font-size-xl;
  font-family: $font-title;
}

.amplify-text {
  color: $gray-0;
}

.amplify-button[data-variation='primary'] {
  border-radius: 24px;
  background-color: $gray-5;
  color: $gray-100;

  &:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
}

.amplify-tabs-item[data-spacing='equal'] {
  background-color: $gray-70;
  color: $gray-0;
  border-color: $gray-50;
}

.amplify-tabs-item[data-state='active'] {
  background-color: $gray-100;
  color: $gray-5;
  border-color: $gray-5;
}

[data-amplify-authenticator] [data-amplify-form] {
  background-color: $gray-100;
}

.amplify-label {
  color: $gray-10;
  font-size: $font-size-md;
}

.amplify-field-group__control {
  border: 1px solid transparent;
  background-color: $gray-80;
  outline: none;
  color: $gray-0;

  &::placeholder {
    color: $gray-30;
  }

  &:focus {
    transition-duration: 0.3s;
    border-color: $gray-30;
    -webkit-box-shadow: none;
    box-shadow: 2px;
  }
}

.accountFooter {
  background-color: $gray-100;
  position: relative;
  padding-bottom: 50px;

  &__button {
    background-color: transparent;
    color: $system-info;

    &:hover {
      cursor: pointer;
      color: $gray-5;
    }
  }

  &__image {
    position: absolute;
    right: -28%;
    top: -28%;

    rotate: -45deg;

    @media screen and (min-width: 480px) {
      right: -19%;
    }
  }
  &__createAccountImage {
    position: absolute;
    right: -28%;
    top: 1%;

    rotate: -45deg;

    @media screen and (min-width: 480px) {
      right: -19%;
    }
  }
}

.federated-sign-in-button {
  border: 1px solid $gray-30;
  border-radius: 24px;
  background-color: $gray-100;
  transition: 0.3s;

  &:hover {
    background-color: $gray-5;
    color: $gray-100 !important;
    transition: 0.3s;

    .amplify-text {
      color: $gray-100;
    }
  }
}

.amplify-divider {
  margin-top: 15px;
}

.amplify-button--small {
  background-color: transparent;
  color: $system-info;
}

.imageAccountWrapper {
  position: relative;
  height: 50px;
}

.imageAccountSecondary {
  position: absolute;
  top: -52%;
  right: -48%;
  rotate: -45deg;

  @media screen and (min-width: 480px) {
    right: -30%;
  }
}

.amplify-alert--error {
  background-color: transparent;
  color: $system-error;
}

.amplify-alert__dismiss {
  background-color: transparent;
}

.amplify-text--error {
  color: $system-error;
}
