@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.wrapper {
  @include set-flex(column);

  @include laptop {
    @include set-flex(row);
    gap: 16px;
    position: relative;
  }
}

.orderInfo {
  @include laptop {
    width: 65%;
  }
}

.headerStep {
  @include set-flex(row, space-between, center);

  margin-top: 24px;
  height: 48px;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid $gray-50;
  transition: 0.3s;
  color: $gray-0;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid $gray-30;
    transition: 0.3s;
    color: $gray-10;

    path {
      fill: $gray-10;
    }
  }
}

.arrow {
  transition: 0.3s;

  &__close {
    transform: rotate(180deg);
    transition: 0.3s;
  }
}

.totalInfo {
  margin-top: 48px;

  @include tablet {
    @include set-flex(row, space-between, center);
  }
}

.totalPrice {
  color: $gray-0;
  font-size: $font-size-xxl;
  font-family: $font-title;

  @include tabletXL {
    font-size: $font-size-xxxl;
  }
}
