@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.imageWrapper {
  min-width: 148px;
  max-width: 287px;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 85%;
    transform: scale(0.995);
    transition-duration: 0.3s;
  }

  @include tablet {
    min-width: 182px;
    max-width: 228px;
  }

  @include tabletXL {
    min-width: 160px;
    max-width: 300px;
  }

  @include laptop {
    min-width: 200px;
    max-width: 439px;
  }

  @include desktop {
    min-width: 180px;
    max-width: 495px;
  }
}

.image {
  width: 100%;
  height: auto;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1.5s;
}
