@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.filters {
  @include set-flex(row);

  gap: 20px;
  position: relative;

  @include laptop {
    justify-content: flex-end;
  }
}

.search {
  display: none;

  @include laptop {
    display: contents;
  }
}

.iconSearch {
  display: none;

  @include laptop {
    display: flex;
    align-items: flex-end;
    width: 33.33%;
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }

  @include desktop {
    width: calc(50% + 20px);
  }
}
