@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.gallery {
  @include set-flex(column);

  padding: 24px 22px 48px;
  min-height: 100vh;

  @include tabletXL {
    padding: 32px 36px 48px;
  }

  @include laptop {
    padding: 32px 30px 32px;
  }
}

.cards {
  margin-top: 24px;
}
