@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.section {
  padding: 32px 22px 96px;
}

.titleWrapper {
  @include set-flex(row, flex-start, center);

  margin-left: 16px;
  gap: 40px;

  &__arrow {
    cursor: pointer;
  }
}

.title {
  color: $gray-0;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;

  @include tabletXL {
    font-size: $font-size-xxxl;
  }

  @include laptop {
    font-size: $font-size-4xl;
  }

  @include desktop {
    font-size: $font-size-huge;
  }
}

.uploadSection {
  @include set-flex(column, center, center);

  margin: 28px auto 0;
  width: 100%;
  height: 325px;
  background-color: $gray-90;
  color: $gray-0;
  cursor: pointer;

  @include tablet {
    max-width: 460px;
    height: 408px;
  }

  @include laptop {
    max-width: 480px;
  }

  @include desktop {
    max-width: 544px;
  }

  @include desktopHD {
    max-width: 624px;
  }

  &__input {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  &__icon {
    @include set-square(72px);

    path {
      fill: $gray-5;
    }
  }

  &__text {
    margin-top: 32px;
  }

  &__error {
    border: 1px solid $system-error !important;
  }
}

.form {
  @include set-flex(column);

  width: 100%;

  @include laptop {
    @include set-flex(row, center, center);

    gap: 48px;
  }
}

.formImageWrapper {
  flex: 1;
}

.formAction {
  flex: 1;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;

  .image {
    padding: 20px;
    object-fit: contain;
  }

  & > :last-child {
    @include set-flex(row, center, center);
    @include set-square(56px);

    background-color: $gray-50;
    opacity: 0.7;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      background-color: $gray-50;
      cursor: pointer;
      opacity: 1;
    }
  }
}

.description {
  margin-top: 24px;
  padding: 12px 16px;
  height: 72px;
  width: 100%;
  background-color: $gray-90;
  color: $gray-0;

  &::placeholder {
    color: $gray-30;
  }
}

.button {
  @include set-flex(column, center, center);

  width: 100%;
  height: 48px;

  border: 1px solid $gray-0;
  border-radius: 24px;

  &:hover {
    cursor: pointer;
  }

  @include tablet {
    margin: 0 auto;
    width: 460px;
  }

  &__save {
    margin-top: 48px;
    background-color: $gray-0;
    color: $gray-100;
  }

  &__cancel {
    margin-top: 24px;
    color: $gray-0;
    background-color: $gray-100;
  }
}

.label {
  width: 100%;

  &__text {
    margin-top: 24px;
    color: $gray-30;
    font-size: $font-size-md;
  }

  @include tablet {
    display: block;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

.coupleInputs {
  @include tabletXL {
    @include set-flex(row);

    gap: 24px;
  }
}

.star {
  color: $system-error;
}

.inputText {
  margin-top: 8px;
  height: 48px;
  width: 100%;
  padding: 12px 16px;
  color: $gray-0;
  font-size: 16px;
  outline: none;
  background-color: $gray-90;
  transition-duration: 0.3s;
  border: 1px solid transparent;

  &::placeholder {
    color: $gray-30;
  }

  &:hover {
    border: 1px solid $gray-50;
    transition-duration: 0.3s;
  }

  &:focus {
    border: 1px solid $gray-30;
    transition-duration: 0.3s;
  }

  &__error {
    border: 1px solid $system-error !important;
  }
}

.inputTextArea {
  height: 140px;
  resize: vertical;

  @include laptop {
    height: 210px;
  }
}

.error {
  margin-top: 8px;
  font-size: $font-size-md;
  color: $system-error;
}

.buttons {
  margin: 48px auto 0;
  max-width: 100%;

  @include tablet {
    max-width: 460px;
  }
}

.button {
  @include set-flex(row, center, center);

  margin-top: 24px;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: $gray-5;
  border: 1px solid $gray-5;
  color: $gray-100;
  cursor: pointer;
  transition-duration: 0.3s;

  &:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }

  &__cancel {
    background-color: $gray-100;
    color: $gray-0;
  }
}

.buttonLoader {
  @include set-flex(row, center, center);

  gap: 20px;
}
