@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.accordion {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.accordionItem {
  @include set-flex(row, space-between, center);
  width: 100%;
  height: 56px;
  background-color: $gray-100;
  border-bottom: 1px solid $gray-70;
  outline: none;
}

.content {
  height: 100%;
  padding: 24px 0 0;

  @include laptop {
    padding: 22px 0 0;
  }
}

.accordionTitle {
  font-family: $font-text;
  color: $gray-5;
  font-size: 16px;
  font-weight: $font-weight-regular;
}

.indicator {
  color: $gray-5;
}

.order {
  @include set-flex(column, center, center);
  gap: 24px;
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 24px;
  background-color: $gray-90;
  border: 1px solid $gray-5;
}

.orders {
  width: 100%;
}

.number {
  width: 100%;
  color: $gray-0;
  font-family: $font-title;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;
  line-height: $line-height-xxl;
}

.date {
  width: 100%;
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

.itemContainer {
  padding: 16px 0;
  border-bottom: 1px solid $gray-10;

  &:first-child {
    padding-top: 0;
  }
}

.title {
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

.details {
  @include set-flex(row, space-between, center);
  gap: 24px;
}

.name {
  color: $gray-10;
  font-family: $font-text;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 20px;
}

.price {
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  line-height: $line-height-base;
}

.shippingContainer {
  @include set-flex(row, space-between, center);
  padding: 16px 0;
  gap: 24px;
}

.buttonContainer {
  @include set-flex(column, center, flex-start);
    gap: 16px;
  width: 100%;

  @include tablet {
    @include set-flex(row, space-between, center);
    gap: 16px;
  }
}

.button {
  @include set-flex(row, center, center);
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid $gray-5;
  background-color: transparent;
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;
  cursor: pointer;
}

.delivered {
  color: $system-success;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;
}
