@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.auth {
  height: 100vh;
  background-color: $gray-100;

  @include desktop {
    padding: 48px 0 200px 48px;
  }
}

.profile {
  margin: 0 auto;
}
