@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.auth {
  height: 100vh;
  background-color: $gray-100;
}

.account {
  @include set-flex(row, flex-start, base-line);
  margin: 0 auto;
  gap: 14px;
  padding: 32px 16px;
  width: 100%;
  height: 100%;
  cursor: default;

  @include tabletXL {
    padding: 32px 22px 200px;
  }

  @include desktop {
    @include set-flex(row-reverse, space-between, base-line);
    padding: 48px 0 200px 48px;
    display: block;
  }
}

.mainContainer {
  position: relative;
}

.formContainer {
  max-width: 656px;
  width: 100%;

  @include desktop {
    margin: 0;
  }
}

.ornament {
  display: none;

  @include desktop {
    position: absolute;
    top: '20%';
    right: 0;
    display: block;
  }
}

.ornamentWrapper {
  display: none;

  @include desktop {
    position: relative;
    display: block;
  }
}

.arrowMobile {
  @include set-square(32px);
  background-color: transparent;
  padding-top: 10px;
  width: 5%;

  @include desktop {
    display: none;
  }

  path {
    fill: $gray-30;
    transition: fill 0.3s;
  }

  &:hover {
    cursor: pointer;

    path {
      fill: $gray-5;
    }
  }
}

.titleContainer {
  @include set-flex(row, flex-start, center);
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 2;
  margin-bottom: 24px;
  gap: 32px;
  width: 100%;

  @include tabletXL {
    gap: 72px;
  }

  @include desktop {
    margin-bottom: 48px;
    width: 100vh;
  }

  .arrow {
    display: none;

    @include set-square(32px);
    background-color: transparent;

    @include desktop {
      display: block;
    }

    path {
      fill: $gray-30;
      transition: fill 0.3s;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: $gray-5;
      }
    }
  }

  .title {
    color: $gray-5;
    font-family: $font-title;
    font-weight: $font-weight-regular;
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;

    @include tabletXL {
      font-size: 48px;
      line-height: 56px;
    }

    @include desktop {
      font-size: $font-size-huge;
      line-height: $line-height-huge;
    }
  }
}

.subtitle {
  margin-bottom: 24px;
  color: $gray-0;
  font-family: $font-text;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;

  @include desktop {
    margin-bottom: 48px;
  }

  .login {
    color: $system-error;
    text-decoration: underline;
    cursor: pointer;
  }
}

.container {
  @include set-flex(column, flex-start, center);
  gap: 24px;

  @include tablet {
    gap: 16px;
  }

  @include laptop {
    gap: 22px;
  }
}

.form {
  margin-bottom: 32px;
  padding: 0 8px;

  &:last-child {
    margin-bottom: 64px;
  }
}

.star {
  margin-left: 4px;
  color: #d32b10;
}

.label {
  @include set-flex(column, flex-start, flex-start);
  width: 100%;
  gap: 8px;
  color: $gray-30;
  font-family: $font-text;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 20px;
  cursor: pointer;
}

.dataContainer {
  @include set-flex(column, flex-start, flex-start);
  width: 100%;
  gap: 8px;
  color: $gray-30;
  font-family: $font-text;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 20px;
  border-bottom: 1px solid #262728;
}

.addressContainer {
  @include set-flex(row, center, center);
  width: 100%;
  gap: 24px;
}

.inputsContainer {
  @include set-flex(column, center, center);
  width: 100%;
  gap: 24px;
}

.address {
  cursor: default;
}

.text {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  background-color: $gray-90;
  color: $gray-0;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: start;
  outline: none;

  &::placeholder {
    color: $gray-30;
  }
}

.input {
  position: relative;
  width: 100%;
}

.inputData {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: start;
  color: $gray-0;
}

.error {
  position: absolute;
  margin-top: 2px;
  font-size: $font-size-sm;
  color: $system-error;
}

.buttonContainer {
  @include set-flex(column, center, center);
  margin-top: 24px;
  width: 100%;
  gap: 24px;

  @include tablet {
    @include set-flex(row, center, center);
  }
}

.submit {
  @include set-flex(row, center, center);
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: $gray-5;
  color: $gray-100;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.cancel {
  @include set-flex(row, center, center);
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid $gray-5;
  background-color: transparent;
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.signOut {
  @include set-flex(row, center, center);
  gap: 10px;
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid $gray-5;
  background-color: transparent;
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.accordion {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.accordionItem {
  @include set-flex(row, space-between, center);
  width: 100%;
  height: 56px;
  background-color: $gray-100;
  border-bottom: 1px solid $gray-70;
  outline: none;
}

.content {
  height: 100%;
  padding: 24px 0 0;
}

.accordionTitle {
  font-family: $font-text;
  color: $gray-5;
  font-size: 16px;
  font-weight: $font-weight-regular;
}

.indicator {
  color: $gray-5;
}

.containerPhone {
  border: none !important;
  cursor: default !important;
  background-color: transparent !important;
}

.inputPhone {
  height: 48px !important;
  width: 100% !important;
  background: #161717 !important;
  border: none !important;
  cursor: default !important;
  color: $gray-0 !important;
  font-family: $font-text !important;
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;
  font-weight: $font-weight-regular !important;
  text-align: start;
  outline: none;
}

// .buttonPhone {
//   border: none !important;
//   outline: none !important;

//   &:hover {
//     cursor: default !important;
//   }
// }

.buttonPhone {
  pointer-events: none;
  background: #161717 !important;
  background-color: #161717 !important;
  border: none !important;
  outline: none !important;
  cursor: default !important;

  &:last-child {
    background: #161717 !important;
    background-color: #161717 !important;
    border: none !important;
    outline: none !important;
    cursor: default !important;
  }
}
