@import '@styles/mixins.scss';
@import '@styles/vars.scss';

.imagesValidation {
  padding: 56px 22px;
  color: $gray-0;
  max-width: 400px;
  margin: 0 auto;
}

.image {
  border: 1px solid $gray-0;
  padding: 16px;
  margin-top: 24px;
}

.id {
  margin-top: 24px;
}

.button {
  @include set-flex(row, center, center);

  margin-top: 24px;

  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid $gray-5;
  background-color: $gray-5;
  color: $gray-100;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;
  cursor: pointer;
}
